In [1]:
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import requests
import json

In [2]:
# GeoJSON creator
# https://geoman.io/geojson-editor
# Awesome D3 Graph Library
# https://www.d3-graph-gallery.com/

# US Minimum Wages By State
https://www.minimum-wage.org/wage-by-state

In [3]:
# Web Scrapping Data
url ='https://www.minimum-wage.org/wage-by-state'
response=requests.get(url, timeout=5)
soup=BeautifulSoup(response.content, "html.parser")
# Empty array
minimum_wage=[]
# Loop through Table to get values
for row in soup.select('tbody tr'):
    row_text = [x.text for x in row.find_all('td')]
    minimum_wage.append(row_text)
# Create DF
minimum_wage_df=pd.DataFrame(minimum_wage)
# Rename Columns
col=['States', 'Minimum_Wage', 'Source', 'Extra']
minimum_wage_df.columns=col
# Strip Unwanted Characters
minimum_wage_df['States']=minimum_wage_df['States'].str.strip('\n')
minimum_wage_df['Minimum Wage']=minimum_wage_df['Minimum_Wage'].str.strip('\n/ hour$')
# Drop Columns
minimum_wage_df=minimum_wage_df.drop(['Source', 'Extra'], axis=1)
minimum_wage_df.head()

       States       Minimum_Wage Minimum Wage
0     Alabama   \n$7.25 / hour\n         7.25
1      Alaska  \n$10.34 / hour\n        10.34
2     Arizona  \n$12.15 / hour\n        12.15
3    Arkansas  \n$11.00 / hour\n        11.00
4  California  \n$13.00 / hour\n        13.00

In [4]:
# Web Scrapping
url ='https://inkplant.com/code/state-latitudes-longitudes'
response=requests.get(url, timeout=5) 
soup=BeautifulSoup(response.content, "html.parser")
# print(soup)
# Empty array
state_lat_long=[]
# Loop through Table to get values
for row in soup.select('tr'):
    row_text = [x.text for x in row.find_all('td')] 
    state_lat_long.append(row_text)  
state_lat_long_df=pd.DataFrame(state_lat_long)
new_header = state_lat_long_df.iloc[0] #grab the first row for the header
state_lat_long_df = state_lat_long_df[1:] #take the data less the header row
state_lat_long_df.columns = new_header #set the header row as the df header
state_lat_long_df=state_lat_long_df.append({'State':'Federal', 'Latitude':'37.09024', 'Longitude':'-95.712891'}, ignore_index=True)
state_lat_long_df.head()

0       State   Latitude    Longitude
0     Alabama  32.806671   -86.791130
1      Alaska  61.370716  -152.404419
2     Arizona  33.729759  -111.431221
3    Arkansas  34.969704   -92.373123
4  California  36.116203  -119.681564

In [5]:
states=[{'state':'Alabama', 'Lat':'33.52066', 'Long': '-86.80249'},
{'state':'Alaska', 'Lat':'61.21806', 'Long': ' -149.90028'},
{'state':'Arizona', 'Lat':'33.44838', 'Long': '-112.07404'},
{'state':'Arkansas', 'Lat':'34.969704', 'Long': '-92.373123'},
{'state':'California', 'Lat':'32.71571', 'Long': '-117.16472'},
{'state':'Colorado', 'Lat':'39.73915', 'Long': '-104.9847'},
{'state':'Connecticut', 'Lat':'41.17923', 'Long': '-73.18945'},
{'state':'Delaware', 'Lat':'39.74595', 'Long': '-75.54659'},
{'state':'Flordia', 'Lat':'25.77427', 'Long': '-80.19366'},
{'state':'Georgia', 'Lat':'33.749', 'Long': '-84.38798'},
{'state':'Hawaii', 'Lat':'21.39734', 'Long': '-157.97516'},
{'state':'Idaho', 'Lat':'46.41655', 'Long': '-117.01766'},
{'state':'Illinois', 'Lat':'39.80172', 'Long': '-89.64371'},
{'state':'Indiana', 'Lat':'39.76838', 'Long': '-86.15804'},
{'state':'Iowa', 'Lat':'41.60054', 'Long': '-93.60911'},
{'state':'Kansas', 'Lat':'38.97167', 'Long': '-95.23525'},
{'state':'Kentucky', 'Lat':'38.25424', 'Long': '-85.75941'},
{'state':'Louisiana', 'Lat':'30.22409', 'Long': '-92.01984'},
{'state':'Maine', 'Lat':'43.65737', 'Long': '-70.2589'},
{'state':'Maryland', 'Lat':'39.29038', 'Long': '-76.61219'},
{'state':'Massachusetts', 'Lat':'42.35843', 'Long': '-71.05977'},
{'state':'Michigan', 'Lat':'42.33143', 'Long': '-83.04575'},
{'state':'Minnesota', 'Lat':'44.97997', 'Long': '-93.26384'},
{'state':'Mississippi', 'Lat':'32.29876', 'Long': '-90.18481'},
{'state':'Missouri', 'Lat':'37.21533 ', 'Long': '-93.29824'},
{'state':'Montana', 'Lat':'45.78329', 'Long': '-108.50069'},
{'state':'Nebraska','Lat':'41.25626', 'Long': '-95.94043'},
{'state':'Nevada', 'Lat':'36.17497', 'Long': '-115.13722'},
{'state':'New Hampshire', 'Lat':'43.20814', 'Long': '-71.53757'},
{'state':'New Jersey', 'Lat':'40.21705', 'Long': '-74.74294'},
{'state':'New Mexico', 'Lat':'35.08449', 'Long': '-106.65114'},
{'state':'New York', 'Lat':'42.65258', 'Long': '-73.75623'},
{'state':'North Carolina', 'Lat':'35.22709', 'Long': '-80.84313'},
{'state':'North Dakota', 'Lat':'46.80833', 'Long': '-100.78374'},
{'state':'Ohio', 'Lat':'39.96118', 'Long': '-82.99879'},
{'state':'Oklahoma', 'Lat':'35.46756', 'Long': '-97.51643'},
{'state':'Oregon', 'Lat':'44.9429', 'Long': '-123.0351'},
{'state':'Pennsylvania', 'Lat':'42.12922', 'Long': '-80.08506'},
{'state':'Rhode Island', 'Lat':'41.82399', 'Long': '-71.41283'},
{'state':'South Carolina', 'Lat':'34.00071', 'Long': '-81.03481'},
{'state':'South Dakota', 'Lat':'44.36832', 'Long': '-100.35097'},
{'state':'Tennessee', 'Lat':'36.16589', 'Long': '-86.78444'},
{'state':'Texas', 'Lat':'30.26715', 'Long': '-97.74306'},
{'state':'Utah', 'Lat':'40.52189', 'Long': '-111.9391'},
{'state':'Vermont', 'Lat':'44.47588', 'Long': '-73.21207'},
{'state':'Virginia', 'Lat':'37.55376', 'Long': '-77.46026'},
{'state':'Washington', 'Lat':'47.30732 ', 'Long': '-122.22845'},
{'state':'West Virginia', 'Lat':'38.41925', 'Long': '-82.44515'},
{'state':'Wisconsin', 'Lat':'43.07305', 'Long': '-89.40123'},
{'state':'Wyoming', 'Lat':'41.13998', 'Long': '-104.82025'},
{'state':'Puerto Rico', 'Lat':'18.220833', 'Long': '-66.590149'},
{'state':'District of Colombia', 'Lat':'38.89511', 'Long': '-77.03637'},
{'state':'Federal', 'Lat':'37.09024', 'Long': '-95.712891'}]
z=pd.DataFrame.from_dict(states)
z.head()

        state        Lat         Long
0     Alabama   33.52066    -86.80249
1      Alaska   61.21806   -149.90028
2     Arizona   33.44838   -112.07404
3    Arkansas  34.969704   -92.373123
4  California   32.71571   -117.16472

In [6]:
minimum_wage_df['Lat']=z['Lat']
minimum_wage_df['Long']=z['Long']
minimum_wage_df.to_excel("../MinimumWageStates.xlsx")

In [7]:
minimum_wage_df.reindex(columns= ['States', 'Lat', 'Long', 'Minimum Wage'])
minimum_wage_df

,States,Minimum_Wage,Minimum Wage,Lat,Long
0,Alabama,\n$7.25 / hour\n,7.25,33.52066,-86.80249
1,Alaska,\n$10.34 / hour\n,10.34,61.21806,-149.90028
2,Arizona,\n$12.15 / hour\n,12.15,33.44838,-112.07404
3,Arkansas,\n$11.00 / hour\n,11.00,34.969704,-92.373123
4,California,\n$13.00 / hour\n,13.00,32.71571,-117.16472
5,Colorado,\n$12.32 / hour\n,12.32,39.73915,-104.9847
6,Connecticut,\n$12.00 / hour\n,12.00,41.17923,-73.18945
7,Delaware,\n$9.25 / hour\n,9.25,39.74595,-75.54659
8,Florida,\n$8.65 / hour\n,8.65,25.77427,-80.19366
9,Georgia,\n$7.25 / hour\n,7.25,33.749,-84.38798
10,Hawaii,\n$10.10 / hour\n,10.10,21.39734,-157.97516
11,Idaho,\n$7.25 / hour\n,7.25,46.41655,-117.01766
12,Illinois,\n$11.00 / hour\n,11.00,39.80172,-89.64371
13,Indiana,\n$7.25 / hour\n,7.25,39.76838,-86.15804
14,Iowa,\n$7.25 / hour\n,7.25,41.60054,-93.60911
15,Kansas,\n$7.25 / hour\n,7.25,38.97167,-95.23525
16,Kentucky,\n$7.25 / hour\n,7.25,38.25424,-85.75941
17,Louisiana,\n$7.25 / hour\n,7.25,30.22409,-92.01984
18,Maine,\n$12.15 / hour\n,12.15,43.65737,-70.2589
19,Maryland,\n$11.75 / hour\n,11.75,39.29038,-76.61219
20,Massachusetts,\n$13.50 / hour\n,13.50,42.35843,-71.05977
21,Michigan,\n$9.65 / hour\n,9.65,42.33143,-83.04575
22,Minnesota,\n$10.08 / hour\n,10.08,44.97997,-93.26384
23,Mississippi,\n$7.25 / hour\n,7.25,32.29876,-90.18481
24,Missouri,\n$10.30 / hour\n,10.30,37.21533,-93.29824
25,Montana,\n$8.75 / hour\n,8.75,45.78329,-108.50069
26,Nebraska,\n$9.00 / hour\n,9.00,41.25626,-95.94043
27,Nevada,\n$9.75 / hour\n,9.75,36.17497,-115.13722
28,New Hampshire,\n$7.25 / hour\n,7.25,43.20814,-71.53757
29,New Jersey,\n$12.00 / hour\n,12.00,40.21705,-74.74294
30,New Mexico,\n$10.50 / hour\n,10.50,35.08449,-106.65114
31,New York,\n$12.50 / hour\n,12.50,42.65258,-73.75623
32,North Carolina,\n$7.25 / hour\n,7.25,35.22709,-80.84313
33,North Dakota,\n$7.25 / hour\n,7.25,46.80833,-100.78374
34,Ohio,\n$8.80 / hour\n,8.80,39.96118,-82.99879
35,Oklahoma,\n$7.25 / hour\n,7.25,35.46756,-97.51643
36,Oregon,\n$12.00 / hour\n,12.00,44.9429,-123.0351
37,Pennsylvania,\n$7.25 / hour\n,7.25,42.12922,-80.08506
38,Rhode Island,\n$11.50 / hour\n,11.50,41.82399,-71.41283
39,South Carolina,\n$7.25 / hour\n,7.25,34.00071,-81.03481
40,South Dakota,\n$9.45 / hour\n,9.45,44.36832,-100.35097
41,Tennessee,\n$7.25 / hour\n,7.25,36.16589,-86.78444
42,Texas,\n$7.25 / hour\n,7.25,30.26715,-97.74306
43,Utah,\n$7.25 / hour\n,7.25,40.52189,-111.9391
44,Vermont,\n$11.75 / hour\n,11.75,44.47588,-73.21207
45,Virginia,\n$7.25 / hour\n,7.25,37.55376,-77.46026
46,Washington,\n$13.69 / hour\n,13.69,47.30732,-122.22845
47,West Virginia,\n$8.75 / hour\n,8.75,38.41925,-82.44515
48,Wisconsin,\n$7.25 / hour\n,7.25,43.07305,-89.40123
49,Wyoming,\n$7.25 / hour\n,7.25,41.13998,-104.82025
50,Puerto Rico,\n$6.55 / hour\n,6.55,18.220833,-66.590149
51,District of Columbia,\n$15.00 / hour\n,15.00,38.89511,-77.03637
52,Federal,\n$7.25 / hour\n,7.25,37.09024,-95.712891

In [8]:

minimum_wage_df=minimum_wage_df[['States', 'Lat', 'Long', 'Minimum Wage']]
minimum_wage_df=minimum_wage_df.rename(columns={'States':'County'})
minimum_wage_df

                  County        Lat         Long Minimum Wage
0                Alabama   33.52066    -86.80249         7.25
1                 Alaska   61.21806   -149.90028        10.34
2                Arizona   33.44838   -112.07404        12.15
3               Arkansas  34.969704   -92.373123        11.00
4             California   32.71571   -117.16472        13.00
5               Colorado   39.73915    -104.9847        12.32
6            Connecticut   41.17923    -73.18945        12.00
7               Delaware   39.74595    -75.54659         9.25
8                Florida   25.77427    -80.19366         8.65
9                Georgia     33.749    -84.38798         7.25
10                Hawaii   21.39734   -157.97516        10.10
11                 Idaho   46.41655   -117.01766         7.25
12              Illinois   39.80172    -89.64371        11.00
13               Indiana   39.76838    -86.15804         7.25
14                  Iowa   41.60054    -93.60911         7.25
15                Kansas   38.97167    -95.23525         7.25
16              Kentucky   38.25424    -85.75941         7.25
17             Louisiana   30.22409    -92.01984         7.25
18                 Maine   43.65737     -70.2589        12.15
19              Maryland   39.29038    -76.61219        11.75
20         Massachusetts   42.35843    -71.05977        13.50
21              Michigan   42.33143    -83.04575         9.65
22             Minnesota   44.97997    -93.26384        10.08
23           Mississippi   32.29876    -90.18481         7.25
24              Missouri  37.21533     -93.29824        10.30
25               Montana   45.78329   -108.50069         8.75
26              Nebraska   41.25626    -95.94043         9.00
27                Nevada   36.17497   -115.13722         9.75
28         New Hampshire   43.20814    -71.53757         7.25
29            New Jersey   40.21705    -74.74294        12.00
30            New Mexico   35.08449   -106.65114        10.50
31              New York   42.65258    -73.75623        12.50
32        North Carolina   35.22709    -80.84313         7.25
33          North Dakota   46.80833   -100.78374         7.25
34                  Ohio   39.96118    -82.99879         8.80
35              Oklahoma   35.46756    -97.51643         7.25
36                Oregon    44.9429    -123.0351        12.00
37          Pennsylvania   42.12922    -80.08506         7.25
38          Rhode Island   41.82399    -71.41283        11.50
39        South Carolina   34.00071    -81.03481         7.25
40          South Dakota   44.36832   -100.35097         9.45
41             Tennessee   36.16589    -86.78444         7.25
42                 Texas   30.26715    -97.74306         7.25
43                  Utah   40.52189    -111.9391         7.25
44               Vermont   44.47588    -73.21207        11.75
45              Virginia   37.55376    -77.46026         7.25
46            Washington  47.30732    -122.22845        13.69
47         West Virginia   38.41925    -82.44515         8.75
48             Wisconsin   43.07305    -89.40123         7.25
49               Wyoming   41.13998   -104.82025         7.25
50           Puerto Rico  18.220833   -66.590149         6.55
51  District of Columbia   38.89511    -77.03637        15.00
52               Federal   37.09024   -95.712891         7.25

# Global Minimum Wage
https://en.wikipedia.org/wiki/List_of_countries_by_minimum_wage

In [9]:
# Web Scrapping Data
url ='https://en.wikipedia.org/wiki/List_of_countries_by_minimum_wage'
response=requests.get(url, timeout=5) 
soup=BeautifulSoup(response.content, "html.parser")
# Empty array
global_minimum_wage=[]
# Loop through Table to get values
for row in soup.select('tbody tr'):
    row_text = [x.text for x in row.find_all('td')]
    global_minimum_wage.append(row_text)  
# Create DF
global_minimum_wage_df=pd.DataFrame(global_minimum_wage)   
# Countries in OECD
global_minimum_wage_df=global_minimum_wage_df[3:205] 
# Rename Columns
global_col=['Countries', '2018 Nominal Annual', '2018 Nominal Hourly', '2018 PPP Annual', '2018 PPP Hourly', '2018 Annual Working Hours', '2019 Nominal Annual', '2019 Nominal Hourly', '2019 PPP Annual', '2019 PPP Hourly', '2019  Working Hours']   
global_minimum_wage_df.columns=global_col
global_minimum_wage_df['Countries']=global_minimum_wage_df['Countries'].str.strip('\n')
global_minimum_wage_df['2019 Nominal Annual']=global_minimum_wage_df['2019 Nominal Annual'].str.strip('\n')
global_minimum_wage_df['2019 Nominal Annual'] = pd.to_numeric(global_minimum_wage_df['2019 Nominal Annual'],errors = 'coerce')
global_minimum_wage_df.head()

,Countries,2018 Nominal Annual,2018 Nominal Hourly,2018 PPP Annual,2018 PPP Hourly,2018 Annual Working Hours,2019 Nominal Annual,2019 Nominal Hourly,2019 PPP Annual,2019 PPP Hourly,2019 Working Hours
3,Afghanistan,"5,500 Afghani ($67) per month for non-permanen...",866\n,"\n3,272\n\n",40\n,0.42\n,1.57,168.3%\n,2017\n\n\n,None,None
4,Albania,"26,000 Albanian lekë ($240) per month, in priv...","2,622\n","\n5,218\n\n",40\n,1.26\n,2.51,45.2%\n,5 May 2017\n\n\n,None,None
5,Algeria,"20,000 Algerian dinars ($156.19) per month, na...","2,010\n","\n6,247\n\n",40\n,0.97\n,3.00,41.6%\n,1 May 2020\n,None,None
6,Andorra,"€1050.40 per month, €6.06 per hour.[14]\n","14,397\n","11,020\n",40\n,6.72\n,5.30,28%\n,1 January 2019\n\n\n,None,None
7,Angola,"21,454 kwanza ($58) per month; paid thirteen t...",764\n,"\n2,108\n\n",44\n,0.33\n,0.92,32.7%\n,1 April 2019\n\n\n,None,None

In [10]:
nom_min_wage_df=pd.DataFrame()
nom_min_wage_df['Countries']=global_minimum_wage_df['Countries']
nom_min_wage_df['2019 Nominal Annual']=global_minimum_wage_df['2019 Nominal Annual']

In [11]:
nom_min_wage_df.at[12,'2019 Nominal Annual']=10.5   #https://wageindicator.org/salary/minimum-wage/austria/
nom_min_wage_df.at[49,'2019 Nominal Annual']=17.8   #https://www.minimum-wage.org/international/denmark (no Min)
nom_min_wage_df.at[166,'2019 Nominal Annual']=5.72 #https://checkinprice.com/average-minimum-salary-in-singapore/ (no Min)
#Finland, Sweden, Norway, Italy no minimum wage
nom_min_wage_df.at[178, '2019 Nominal Annual']=15.43 #https://www.minimum-wage.org/international/switzerland
nom_min_wage_df[0:50]

                            Countries  2019 Nominal Annual
3                         Afghanistan                 1.57
4                             Albania                 2.51
5                             Algeria                 3.00
6                             Andorra                 5.30
7                              Angola                 0.92
8                 Antigua and Barbuda                 3.74
9                           Argentina                11.51
10                            Armenia                 1.99
11                          Australia                12.40
12                            Austria                10.50
13                         Azerbaijan                 4.12
14                        The Bahamas                 4.61
15                            Bahrain                  NaN
16                         Bangladesh                 0.23
17                           Barbados                 2.54
18                            Belarus                 3.89
19                            Belgium                11.00
20                             Belize                 2.89
21                              Benin                 1.03
22                             Bhutan                 0.97
23                            Bolivia                 3.21
24             Bosnia and Herzegovina                 2.89
25                           Botswana                 0.56
26                             Brazil                 2.85
27                             Brunei                  NaN
28                           Bulgaria                 4.91
29                       Burkina Faso                 0.92
30                            Burundi                  NaN
31                           Cambodia                  NaN
32                           Cameroon                 0.87
33                             Canada                10.07
34                         Cape Verde                 1.49
35           Central African Republic                 0.67
36                               Chad                 1.72
37                              Chile                 3.68
38                              China                 1.68
39                           Colombia                 3.85
40                            Comoros                 1.46
41   Democratic Republic of the Congo                 0.32
42              Republic of the Congo                 3.35
43                         Costa Rica                 4.08
44                      Côte d'Ivoire                 0.90
45                            Croatia                 5.41
46                               Cuba                 0.74
47                             Cyprus                  NaN
48                     Czech Republic                 6.11
49                            Denmark                17.80
50                           Djibouti                  NaN
51                           Dominica                 2.03
52                 Dominican Republic                 0.82

In [12]:
# https://www.retailcouncil.org/resources/quick-facts/minimum-wage-by-province/ (canada)
# https://www.minimum-wage.org/international/united-kingdom (18 to 20)
# https://businesstech.co.za/news/finance/450395/higher-south-african-minimum-wages-proposed-for-2021/ (South Africa)
# https://www.reuters.com/article/turkey-economy-wages/turkey-raises-gross-minimum-wage-by-more-than-21-in-2021-idUKKBN2920NF?edition-redirect=uk (Turkey)
# https://www.minimum-wage.org/international/saudi-arabia (Saudi Arabia)
# https://www.minimum-wage.org/international/russia (Russia)
# https://www.mexperience.com/mexicos-minimum-wage-2021/
# https://www.minimum-wage.org/international/south-korea
# https://www.minimum-wage.org/international/japan
# https://www.minimum-wage.org/international/indonesia

In [13]:
nom_min_wage_df[20:70]

                            Countries  2019 Nominal Annual
23                            Bolivia                 3.21
24             Bosnia and Herzegovina                 2.89
25                           Botswana                 0.56
26                             Brazil                 2.85
27                             Brunei                  NaN
28                           Bulgaria                 4.91
29                       Burkina Faso                 0.92
30                            Burundi                  NaN
31                           Cambodia                  NaN
32                           Cameroon                 0.87
33                             Canada                10.07
34                         Cape Verde                 1.49
35           Central African Republic                 0.67
36                               Chad                 1.72
37                              Chile                 3.68
38                              China                 1.68
39                           Colombia                 3.85
40                            Comoros                 1.46
41   Democratic Republic of the Congo                 0.32
42              Republic of the Congo                 3.35
43                         Costa Rica                 4.08
44                      Côte d'Ivoire                 0.90
45                            Croatia                 5.41
46                               Cuba                 0.74
47                             Cyprus                  NaN
48                     Czech Republic                 6.11
49                            Denmark                17.80
50                           Djibouti                  NaN
51                           Dominica                 2.03
52                 Dominican Republic                 0.82
53                            Ecuador                 4.10
54                              Egypt                  NaN
55                        El Salvador                 3.07
56                  Equatorial Guinea                 1.79
57                            Eritrea                  NaN
58                            Estonia                 5.26
59                           Eswatini                 0.54
60                           Ethiopia                  NaN
61     Federated States of Micronesia                  NaN
62                               Fiji                 2.09
63                            Finland                  NaN
64                             France                11.53
65                              Gabon                 2.34
66                         The Gambia                 0.38
67                            Georgia                 0.17
68                            Germany                11.27
69                              Ghana                 0.85
70                             Greece                 6.43
71                            Grenada                  NaN
72                          Guatemala                 2.79

# OECD Lat and Long

In [14]:
oecd_countries=[{'County':'Australia', 'Lat':'-25.274398',  'Long':'133.775136'},
{'County':'Belgium',   'Lat':'50.503887',   'Long':'4.469936'},
{'County':'Canada',    'Lat':'56.130366',   'Long':'-106.346771'},
{'County':'Chile',     'Lat':'-35.675147',  'Long':'-71.542969'},
{'County':'Colombia',  'Lat':'4.570868 ',   'Long':'-74.297333'},
{'County':'Czech Republic', 'Lat':'49.817492', 'Long':'15.472962'},
{'County':'Estonia', 'Lat':'58.595272', 'Long':'25.013607'},
{'County':'France', 'Lat':'46.227638', 'Long':'2.213749'},
{'County':'Germany', 'Lat':'51.165691', 'Long':'10.451526'},
{'County':'Greece', 'Lat':'39.074208', 'Long':'21.824312'},
{'County':'Hungary', 'Lat':'47.162494', 'Long':'19.503304'},
{'County':'Ireland', 'Lat':'53.41291', 'Long':'-8.24389'},
{'County':'Israel', 'Lat':'31.046051', 'Long':'34.851612'},
{'County':'Japan', 'Lat':'36.204824', 'Long':'138.252924'},
{'County':'Korea', 'Lat':'35.907757', 'Long':'127.766922'},
{'County':'Latvia', 'Lat':'56.879635', 'Long':'24.603189'},
{'County':'Lithuania', 'Lat':'55.169438', 'Long':'23.881275'},
{'County':'Luxembourg', 'Lat':'49.815273', 'Long':'6.129583'},
{'County':'Mexico', 'Lat':'23.634501', 'Long':'-102.552784'},
{'County':'Netherlands', 'Lat':'52.132633', 'Long':'5.291266'},
{'County':'New Zealand', 'Lat':'-40.900557', 'Long':'174.885971'},
{'County':'Poland', 'Lat':'51.919438', 'Long':'19.145136'},
{'County':'Portugal', 'Lat':'39.399872', 'Long':'-8.224454'},
{'County':'Slovakia', 'Lat':'48.669026', 'Long':'19.699024'},
{'County':'Slovenia', 'Lat':'46.151241', 'Long':'14.995463'},
{'County':'Spain', 'Lat':'40.463667', 'Long':'-3.74922'},
{'County':'Turkey', 'Lat':'38.963745', 'Long':'35.243322'},
{'County':'United Kingdom', 'Lat':'55.378051', 'Long':'-3.435973'},
{'County':'United States', 'Lat':'37.09024', 'Long':'-95.712891'},
{'County':'Costa Rica', 'Lat':'9.748917', 'Long':'-83.753428'},
{'County':'Brazil', 'Lat':'-14.235004', 'Long':'-51.92528'},
{'County':'Russian Federation', 'Lat':'61.52401', 'Long':'105.318756'}]
oecd_countries_df=pd.DataFrame.from_dict(oecd_countries)
oecd_countries_df.head(50)

                County         Lat         Long
0            Australia  -25.274398   133.775136
1              Belgium   50.503887     4.469936
2               Canada   56.130366  -106.346771
3                Chile  -35.675147   -71.542969
4             Colombia   4.570868    -74.297333
5       Czech Republic   49.817492    15.472962
6              Estonia   58.595272    25.013607
7               France   46.227638     2.213749
8              Germany   51.165691    10.451526
9               Greece   39.074208    21.824312
10             Hungary   47.162494    19.503304
11             Ireland    53.41291     -8.24389
12              Israel   31.046051    34.851612
13               Japan   36.204824   138.252924
14               Korea   35.907757   127.766922
15              Latvia   56.879635    24.603189
16           Lithuania   55.169438    23.881275
17          Luxembourg   49.815273     6.129583
18              Mexico   23.634501  -102.552784
19         Netherlands   52.132633     5.291266
20         New Zealand  -40.900557   174.885971
21              Poland   51.919438    19.145136
22            Portugal   39.399872    -8.224454
23            Slovakia   48.669026    19.699024
24            Slovenia   46.151241    14.995463
25               Spain   40.463667     -3.74922
26              Turkey   38.963745    35.243322
27      United Kingdom   55.378051    -3.435973
28       United States    37.09024   -95.712891
29          Costa Rica    9.748917   -83.753428
30              Brazil  -14.235004    -51.92528
31  Russian Federation    61.52401   105.318756

In [15]:
oecd_min_wage=[ 12.6, 11, 10.2, 3.1, 2.7, 5.8, 5.2, 12.1, 11.8, 5.7, 5.5, 10.1, 6.9, 8, 8.6, 4.3, 
               6.7, 12.5, 1.2, 11, 11, 6.9, 6.3, 3.2, 7.9, 8.6, 6.7, 10.5, 7.25, 3.5, 2.1, 2.4]
oecd_countries_df['Minimum Wage']=pd.DataFrame(oecd_min_wage)
oecd_countries_df.to_excel('MinimumWageOECD_G20.xlsx')
oecd_countries_df=oecd_countries_df.drop([28])
oecd_countries_df

                County         Lat         Long  Minimum Wage
0            Australia  -25.274398   133.775136          12.6
1              Belgium   50.503887     4.469936          11.0
2               Canada   56.130366  -106.346771          10.2
3                Chile  -35.675147   -71.542969           3.1
4             Colombia   4.570868    -74.297333           2.7
5       Czech Republic   49.817492    15.472962           5.8
6              Estonia   58.595272    25.013607           5.2
7               France   46.227638     2.213749          12.1
8              Germany   51.165691    10.451526          11.8
9               Greece   39.074208    21.824312           5.7
10             Hungary   47.162494    19.503304           5.5
11             Ireland    53.41291     -8.24389          10.1
12              Israel   31.046051    34.851612           6.9
13               Japan   36.204824   138.252924           8.0
14               Korea   35.907757   127.766922           8.6
15              Latvia   56.879635    24.603189           4.3
16           Lithuania   55.169438    23.881275           6.7
17          Luxembourg   49.815273     6.129583          12.5
18              Mexico   23.634501  -102.552784           1.2
19         Netherlands   52.132633     5.291266          11.0
20         New Zealand  -40.900557   174.885971          11.0
21              Poland   51.919438    19.145136           6.9
22            Portugal   39.399872    -8.224454           6.3
23            Slovakia   48.669026    19.699024           3.2
24            Slovenia   46.151241    14.995463           7.9
25               Spain   40.463667     -3.74922           8.6
26              Turkey   38.963745    35.243322           6.7
27      United Kingdom   55.378051    -3.435973          10.5
29          Costa Rica    9.748917   -83.753428           3.5
30              Brazil  -14.235004    -51.92528           2.1
31  Russian Federation    61.52401   105.318756           2.4

# G 20

In [16]:
g_twenty=[
    {'County': 'Argentina', 'Lat':'-38.416097', 'Long':'-63.616672'},
     
    {'County':'Australia', 'Lat':'-25.274398',  'Long':'133.775136'},
    {'County':'Brazil', 'Lat':'-14.235004', 'Long':'-51.92528'}, 
    {'County':'Canada',    'Lat':'56.130366',   'Long':'-106.346771'},
     
    {'County': 'China', 'Lat':'35.86166', 'Long':'104.195397'},
     
    {'County':'France', 'Lat':'46.227638', 'Long':'2.213749'},
    {'County':'Germany', 'Lat':'51.165691', 'Long':'10.451526'},
     
    {'County': 'India', 'Lat':'20.593684', 'Long':'78.96288'},
    {'County': 'Indonesia', 'Lat':'-0.789275', 'Long':'113.921327'},
    {'County': 'Italy', 'Lat':'41.87194', 'Long':'12.56738'},
     
    {'County':'Japan', 'Lat':'36.204824', 'Long':'138.252924'},
    {'County':'Korea', 'Lat':'35.907757', 'Long':'127.766922'},
    {'County':'Mexico', 'Lat':'23.634501', 'Long':'-102.552784'},
    {'County':'Russian Federation', 'Lat':'61.52401', 'Long':'105.318756'}, 
     
    {'County': 'Saudi Arabia', 'Lat':'23.885942', 'Long':'45.079162'},
    {'County': 'South Africa', 'Lat':'-30.559482', 'Long':'22.937506'},
     
    {'County':'Turkey', 'Lat':'38.963745', 'Long':'35.243322'}, 
    {'County':'United Kingdom', 'Lat':'55.378051', 'Long':'-3.435973'},
    {'County':'United States', 'Lat':'37.09024', 'Long':'-95.712891'}]
g_twenty_df=pd.DataFrame.from_dict(g_twenty)
# g_twenty_OECD_df=g_twenty_df.append(oecd_countries_df)
# g_twenty_OECD_df.drop([19,22,27,28,33,34,38,38,41], 0, inplace=True)
# g_twenty_OECD_df=g_twenty_OECD_df.drop(g_twenty_OECD_df.index[19])
# ,22,27,28,33,34,38,38,41
g_twenty_df

                County         Lat         Long
0            Argentina  -38.416097   -63.616672
1            Australia  -25.274398   133.775136
2               Brazil  -14.235004    -51.92528
3               Canada   56.130366  -106.346771
4                China    35.86166   104.195397
5               France   46.227638     2.213749
6              Germany   51.165691    10.451526
7                India   20.593684     78.96288
8            Indonesia   -0.789275   113.921327
9                Italy    41.87194     12.56738
10               Japan   36.204824   138.252924
11               Korea   35.907757   127.766922
12              Mexico   23.634501  -102.552784
13  Russian Federation    61.52401   105.318756
14        Saudi Arabia   23.885942    45.079162
15        South Africa  -30.559482    22.937506
16              Turkey   38.963745    35.243322
17      United Kingdom   55.378051    -3.435973
18       United States    37.09024   -95.712891

In [17]:
g20_min_wage=[ 1.48, 12.60, 2.10, 10.2, 2.16, 12.10, 11.80, 1, 0.51, 0, 8.00, 8.60, 1.2, 2.40, 3.62, 1, 6.70, 10.5, 7.25     
]
g_twenty_df['Minimum Wage']=pd.DataFrame(g20_min_wage)
g_twenty_df.to_excel('MinimumWageG20.xlsx')
g_twenty_df=g_twenty_df.drop([18, 1, 2, 3, 5, 6, 10, 11, 12, 13, 16, 17])
g_twenty_df.to_excel("G20MinWage.xlsx")

In [18]:
oecd_countries_df.to_excel("OECDMinWage.xlsx")

In [19]:
minimum_wage_df.to_excel("statesMinWage.xlsx")

In [20]:
# split records index columns values table
result = minimum_wage_df.to_json(orient="records")
parsed = json.loads(result)
#serialize the json file
json_object=json.dumps(parsed, indent=4) 

with open("states.json", "w") as outfile: 
    outfile.write(json_object)

# Convert into GeoJSON

In [21]:
with open('state_geoJson.json', 'r') as myfile:
    data=myfile.read()

In [22]:
df = pd.read_json(data)

In [23]:
df

                type                                           features
0  FeatureCollection  {'type': 'Feature', 'properties': {'mag': 7.25...
1  FeatureCollection  {'type': 'Feature', 'properties': {'mag': 0, '...
2  FeatureCollection  {'type': 'Feature', 'properties': {'mag': 0, '...
3  FeatureCollection  {'type': 'Feature', 'properties': {'mag': 0, '...
4  FeatureCollection  {'type': 'Feature', 'properties': {'mag': 0, '...

In [24]:
x=pd.DataFrame(df['features'])
x

                                            features
0  {'type': 'Feature', 'properties': {'mag': 7.25...
1  {'type': 'Feature', 'properties': {'mag': 0, '...
2  {'type': 'Feature', 'properties': {'mag': 0, '...
3  {'type': 'Feature', 'properties': {'mag': 0, '...
4  {'type': 'Feature', 'properties': {'mag': 0, '...

# Cost of Living Index By Country

In [25]:
# Web Scrapping Data
url ='https://www.numbeo.com/cost-of-living/rankings_by_country.jsp'
response=requests.get(url, timeout=5)
soup=BeautifulSoup(response.content, "html.parser")
# Empty array
living_index=[]
# Loop through Table to get values
for row in soup.select('tbody tr'):
    row_text = [x.text for x in row.find_all('td')]
    living_index.append(row_text)
living_index

[['', 'Bermuda', '145.07', '92.86', '120.13', '141.77', '157.70', '83.43'],
 ['', 'Switzerland', '131.75', '55.05', '95.10', '133.36', '126.08', '110.96'],
 ['', 'Norway', '106.09', '36.18', '72.68', '100.59', '105.90', '79.43'],
 ['', 'Iceland', '96.77', '43.17', '71.16', '88.84', '102.24', '71.88'],
 ['', 'Denmark', '91.67', '36.18', '65.16', '72.62', '104.92', '94.73'],
 ['', 'Luxembourg', '88.28', '61.62', '75.54', '80.71', '94.66', '95.38'],
 ['', 'Japan', '87.77', '28.03', '59.23', '90.47', '49.74', '76.53'],
 ['', 'Israel', '86.63', '31.90', '60.48', '73.68', '91.10', '70.36'],
 ['', 'Bahamas', '85.85', '34.54', '61.33', '69.35', '89.29', '49.31'],
 ['', 'Singapore', '85.59', '64.77', '75.64', '75.31', '62.07', '83.62'],
 ['', 'Australia', '84.14', '38.38', '62.28', '81.14', '76.28', '99.29'],
 ['', 'Ireland', '83.11', '45.42', '65.10', '67.80', '82.34', '73.84'],
 ['', 'Barbados', '81.49', '21.09', '52.63', '71.51', '72.85', '45.34'],
 ['', 'South Korea', '81.20', '22.91', '53.35', '99.84', '43.98', '76.60'],
 ['', 'France', '80.62', '27.79', '55.38', '77.46', '75.48', '74.06'],
 ['', 'Hong Kong', '79.94', '74.24', '77.22', '81.73', '58.60', '62.45'],
 ['', 'Sweden', '79.17', '28.08', '54.76', '71.67', '77.23', '90.55'],
 ['', 'New Zealand', '79.14', '35.38', '58.23', '75.03', '69.18', '81.44'],
 ['', 'Seychelles', '78.92', '34.32', '57.61', '78.56', '84.24', '18.03'],
 ['', 'Netherlands', '78.64', '39.31', '59.85', '61.63', '81.62', '83.89'],
 ['', 'Belgium', '78.52', '26.84', '53.83', '67.33', '82.40', '76.54'],
 ['', 'Finland', '77.46', '28.04', '53.85', '65.60', '81.22', '89.05'],
 ['', 'Lebanon', '75.88', '24.08', '51.13', '72.51', '62.89', '29.49'],
 ['', 'Austria', '75.49', '28.42', '53.00', '67.62', '70.98', '78.23'],
 ['', 'Malta', '73.61', '32.96', '54.19', '63.41', '77.04', '41.89'],
 ['', 'Italy', '73.11', '22.91', '49.13', '62.46', '75.60', '58.70'],
 ['', 'United States', '71.92', '41.14', '57.21', '70.24', '69.42', '102.58'],
 ['', 'United Kingdom', '71.03', '31.61', '52.19', '56.38', '74.69', '82.56'],
 ['', 'Germany', '70.62', '29.64', '51.04', '54.69', '65.00', '93.72'],
 ['', 'Canada', '70.08', '32.48', '52.12', '68.50', '63.96', '82.76'],
 ['', 'Macao', '69.60', '44.39', '57.56', '66.28', '48.93', '67.60'],
 ['', 'Puerto Rico', '69.51', '19.42', '45.58', '72.13', '58.12', '69.22'],
 ['', 'Taiwan', '65.25', '17.92', '42.64', '79.11', '28.80', '56.08'],
 ['', 'Qatar', '64.23', '46.59', '55.80', '56.72', '62.58', '93.12'],
 ['', 'Cyprus', '64.05', '22.70', '44.29', '51.68', '66.31', '52.34'],
 ['',
  'United Arab Emirates',
  '61.67',
  '40.62',
  '51.61',
  '48.84',
  '61.25',
  '85.74'],
 ['', 'Greece', '60.96', '13.05', '38.07', '47.66', '55.71', '38.95'],
 ['', 'Slovenia', '59.38', '18.88', '40.03', '51.46', '47.86', '56.14'],
 ['', 'Spain', '59.09', '23.59', '42.13', '48.74', '56.99', '62.68'],
 ['', 'Bahrain', '57.70', '29.53', '44.24', '46.96', '52.27', '53.24'],
 ['', 'Estonia', '56.45', '16.27', '37.25', '43.35', '56.27', '61.22'],
 ['', 'Croatia', '56.36', '14.94', '36.57', '49.10', '46.13', '43.13'],
 ['', 'Palestine', '55.88', '9.98', '33.95', '50.24', '36.21', '39.10'],
 ['', 'Cuba', '55.54', '14.89', '36.12', '46.93', '32.85', '1.42'],
 ['',
  'Trinidad And Tobago',
  '55.48',
  '16.44',
  '36.83',
  '53.09',
  '52.21',
  '39.00'],
 ['', 'Ivory Coast', '54.61', '20.26', '38.20', '47.15', '34.50', '6.32'],
 ['', 'Ethiopia', '54.30', '15.59', '35.80', '37.47', '18.17', '10.10'],
 ['', 'Panama', '54.07', '22.58', '39.02', '54.77', '45.48', '32.05'],
 ['', 'Jamaica', '53.16', '15.93', '35.37', '55.94', '33.12', '32.21'],
 ['', 'Portugal', '52.88', '22.31', '38.27', '42.01', '43.24', '44.96'],
 ['', 'Latvia', '52.87', '13.17', '33.90', '41.36', '44.92', '45.94'],
 ['', 'Mauritius', '52.57', '12.32', '33.34', '54.15', '37.56', '27.38'],
 ['', 'Belize', '52.45', '11.56', '32.91', '47.82', '36.10', '45.71'],
 ['', 'Jordan', '52.17', '9.69', '31.87', '42.76', '42.08', '33.13'],
 ['', 'Suriname', '51.86', '10.42', '32.06', '50.39', '62.59', '16.47'],
 ['', 'Zimbabwe', '51.52', '9.44', '31.41', '45.56', '39.29', '22.10'],
 ['', 'Yemen', '51.46', '6.21', '29.84', '61.17', '23.62', '14.75'],
 ['', 'Uruguay', '51.09', '13.56', '33.16', '40.83', '48.95', '30.62'],
 ['', 'Costa Rica', '50.64', '14.52', '33.38', '48.03', '41.33', '39.01'],
 ['', 'Oman', '50.18', '17.32', '34.48', '46.90', '41.88', '84.45'],
 ['', 'Saudi Arabia', '49.95', '11.64', '31.64', '41.74', '31.98', '88.18'],
 ['', 'Kuwait', '49.40', '31.43', '40.82', '35.87', '45.12', '75.32'],
 ['', 'Brunei', '49.35', '23.44', '36.97', '47.21', '35.86', '89.03'],
 ['', 'Chile', '49.33', '14.66', '32.76', '41.82', '45.96', '33.33'],
 ['', 'Thailand', '49.32', '16.33', '33.56', '50.64', '24.19', '31.36'],
 ['', 'Czech Republic', '49.18', '19.81', '35.15', '42.76', '34.68', '56.40'],
 ['', 'Slovakia', '49.08', '17.43', '33.96', '42.96', '37.47', '50.39'],
 ['', 'Fiji', '48.54', '17.77', '33.84', '53.43', '38.55', '30.04'],
 ['', 'Cambodia', '47.91', '14.56', '31.98', '48.64', '23.10', '11.40'],
 ['', 'Lithuania', '47.66', '14.63', '31.88', '37.28', '45.96', '54.60'],
 ['', 'Guatemala', '44.76', '15.24', '30.66', '41.68', '32.45', '25.64'],
 ['', 'El Salvador', '44.57', '13.33', '29.64', '42.69', '33.33', '20.72'],
 ['', 'Nicaragua', '42.77', '7.99', '26.15', '41.07', '29.47', '16.69'],
 ['', 'Hungary', '42.75', '12.75', '28.42', '35.46', '34.24', '49.81'],
 ['', 'Cameroon', '42.57', '7.42', '25.78', '42.88', '24.67', '15.37'],
 ['', 'China', '42.54', '16.42', '30.06', '45.49', '28.40', '57.47'],
 ['', 'Honduras', '42.20', '10.63', '27.12', '35.13', '28.73', '31.06'],
 ['', 'Poland', '42.04', '18.09', '30.60', '33.45', '35.38', '47.09'],
 ['', 'South Africa', '41.69', '15.94', '29.38', '34.59', '37.22', '72.92'],
 ['',
  'Dominican Republic',
  '41.54',
  '9.81',
  '26.38',
  '36.12',
  '35.28',
  '21.72'],
 ['', 'Montenegro', '41.43', '11.75', '27.25', '32.55', '32.54', '35.36'],
 ['', 'Iran', '41.34', '17.88', '30.13', '36.26', '25.85', '19.00'],
 ['', 'Namibia', '41.02', '14.29', '28.25', '35.67', '35.58', '53.28'],
 ['', 'Bulgaria', '40.92', '9.88', '26.09', '35.24', '31.88', '40.26'],
 ['', 'Philippines', '40.65', '10.41', '26.20', '38.91', '22.16', '19.71'],
 ['', 'Ghana', '40.63', '18.44', '30.02', '41.21', '31.53', '15.19'],
 ['', 'Botswana', '40.41', '10.74', '26.23', '34.64', '41.52', '61.95'],
 ['', 'Albania', '40.25', '9.21', '25.42', '32.73', '30.71', '26.58'],
 ['', 'Ecuador', '40.08', '12.03', '26.68', '36.42', '28.55', '30.54'],
 ['', 'Malaysia', '39.51', '10.77', '25.78', '40.20', '21.71', '56.10'],
 ['', 'Serbia', '39.19', '9.83', '25.17', '29.68', '30.59', '35.83'],
 ['',
  'Bosnia And Herzegovina',
  '38.56',
  '7.13',
  '23.54',
  '31.84',
  '25.70',
  '42.56'],
 ['', 'Romania', '38.50', '10.76', '25.25', '33.45', '32.38', '45.19'],
 ['', 'Myanmar', '38.06', '21.71', '30.25', '39.59', '21.22', '10.67'],
 ['', 'Vietnam', '38.05', '14.16', '26.63', '38.32', '19.03', '27.26'],
 ['', 'Argentina', '37.87', '8.49', '23.83', '29.20', '33.39', '34.56'],
 ['', 'Indonesia', '37.44', '10.29', '24.47', '39.40', '17.99', '20.89'],
 ['', 'Somalia', '37.42', '5.90', '22.36', '44.46', '26.73', '27.23'],
 ['', 'Morocco', '36.85', '9.72', '23.89', '32.78', '26.33', '32.17'],
 ['', 'Kenya', '36.30', '9.17', '23.33', '33.38', '30.50', '27.67'],
 ['', 'Peru', '36.26', '12.25', '24.79', '33.83', '23.56', '28.81'],
 ['', 'Bolivia', '36.11', '10.76', '23.99', '31.94', '25.24', '37.23'],
 ['', 'Mozambique', '35.89', '15.12', '25.97', '29.07', '29.28', '16.40'],
 ['', 'Mexico', '35.05', '11.62', '23.86', '33.64', '28.92', '35.54'],
 ['', 'Tanzania', '34.60', '13.11', '24.33', '30.62', '25.16', '16.05'],
 ['', 'North Macedonia', '34.15', '6.72', '21.04', '28.46', '22.46', '31.97'],
 ['', 'Rwanda', '34.07', '14.92', '24.92', '28.51', '28.54', '21.97'],
 ['', 'Bangladesh', '33.31', '4.90', '19.74', '31.49', '20.39', '24.07'],
 ['', 'Mongolia', '33.17', '9.91', '22.05', '33.11', '23.35', '28.09'],
 ['', 'Russia', '33.17', '9.77', '21.99', '27.81', '30.65', '34.61'],
 ['', 'Iraq', '32.72', '9.76', '21.75', '27.48', '25.64', '39.75'],
 ['', 'Moldova', '32.68', '8.65', '21.20', '26.07', '26.59', '26.99'],
 ['', 'Uganda', '32.18', '7.29', '20.29', '28.93', '22.00', '13.97'],
 ['', 'Brazil', '31.82', '8.12', '20.50', '25.41', '22.55', '28.66'],
 ['', 'Armenia', '31.68', '10.36', '21.50', '24.56', '27.25', '26.13'],
 ['', 'Turkey', '31.48', '6.10', '19.35', '28.11', '19.91', '35.35'],
 ['', 'Sri Lanka', '31.28', '8.54', '20.42', '36.47', '16.54', '20.77'],
 ['', 'Colombia', '31.00', '9.96', '20.94', '26.28', '21.80', '26.13'],
 ['', 'Azerbaijan', '30.90', '9.02', '20.45', '26.23', '28.66', '25.77'],
 ['', 'Paraguay', '30.72', '9.77', '20.71', '24.55', '24.34', '27.51'],
 ['', 'Belarus', '30.69', '9.19', '20.42', '26.57', '31.03', '31.96'],
 ['', 'Egypt', '30.10', '5.97', '18.57', '26.53', '24.91', '19.99'],
 ['', 'Kazakhstan', '29.76', '9.31', '19.99', '25.61', '25.80', '34.92'],
 ['', 'Nigeria', '29.74', '28.91', '29.34', '31.23', '17.97', '9.78'],
 ['', 'Tunisia', '29.50', '5.77', '18.16', '28.48', '15.75', '27.81'],
 ['',
  'Kosovo (Disputed Territory)',
  '29.40',
  '8.80',
  '19.56',
  '26.86',
  '21.10',
  '40.14'],
 ['', 'Ukraine', '29.21', '8.74', '19.43', '24.34', '23.72', '30.10'],
 ['', 'Syria', '29.03', '5.68', '17.87', '28.38', '23.48', '8.08'],
 ['', 'Nepal', '28.86', '4.54', '17.24', '26.45', '19.68', '20.63'],
 ['', 'Algeria', '28.31', '5.01', '17.18', '29.09', '14.98', '24.77'],
 ['', 'Zambia', '28.06', '6.75', '17.88', '27.12', '16.18', '59.47'],
 ['', 'Georgia', '28.05', '9.42', '19.15', '24.37', '24.22', '25.67'],
 ['', 'Uzbekistan', '27.12', '8.06', '18.01', '23.91', '21.43', '21.96'],
 ['', 'Afghanistan', '26.33', '3.85', '15.59', '19.30', '16.98', '26.58'],
 ['', 'India', '25.16', '5.77', '15.90', '26.26', '17.66', '47.13'],
 ['', 'Kyrgyzstan', '22.98', '7.43', '15.55', '20.57', '19.19', '22.01'],
 ['', 'Libya', '22.32', '5.68', '14.37', '25.30', '13.31', '31.81'],
 ['', 'Pakistan', '21.59', '4.37', '13.36', '19.06', '17.24', '27.28']]

In [26]:
living_index_df=pd.DataFrame(living_index)
living_columns=['Index','Country', 'Cost of Living', 'Rent Index', 'Cost of Living Plus Rent', 'Groceries Index' , 'Restaurant Price Index', 'Local Purchasing Power Index'    ]  
living_index_df.columns=living_columns
living_index_df

,Index,Country,Cost of Living,Rent Index,Cost of Living Plus Rent,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,,Bermuda,145.07,92.86,120.13,141.77,157.70,83.43
1,,Switzerland,131.75,55.05,95.10,133.36,126.08,110.96
2,,Norway,106.09,36.18,72.68,100.59,105.90,79.43
3,,Iceland,96.77,43.17,71.16,88.84,102.24,71.88
4,,Denmark,91.67,36.18,65.16,72.62,104.92,94.73
...,...,...,...,...,...,...,...,...
133,,Afghanistan,26.33,3.85,15.59,19.30,16.98,26.58
134,,India,25.16,5.77,15.90,26.26,17.66,47.13
135,,Kyrgyzstan,22.98,7.43,15.55,20.57,19.19,22.01
136,,Libya,22.32,5.68,14.37,25.30,13.31,31.81
137,,Pakistan,21.59,4.37,13.36,19.06,17.24,27.28

In [27]:
bigdata = oecd_countries_df.append(g_twenty_df, ignore_index=True)
bigdata.head(1)

      County         Lat        Long  Minimum Wage
0  Australia  -25.274398  133.775136          12.6

In [29]:
living_columnz=['Cost of Living', 'Rent Index', 'Cost of Living Plus Rent', 'Groceries Index' , 'Restaurant Price Index', 'Local Purchasing Power Index'    ]
for x in living_columnz:
    bigdata[x]=0.00
bigdata

,County,Lat,Long,Minimum Wage,Cost of Living,Rent Index,Cost of Living Plus Rent,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,Australia,-25.274398,133.775136,12.60,0.0,0.0,0.0,0.0,0.0,0.0
1,Belgium,50.503887,4.469936,11.00,0.0,0.0,0.0,0.0,0.0,0.0
2,Canada,56.130366,-106.346771,10.20,0.0,0.0,0.0,0.0,0.0,0.0
3,Chile,-35.675147,-71.542969,3.10,0.0,0.0,0.0,0.0,0.0,0.0
4,Colombia,4.570868,-74.297333,2.70,0.0,0.0,0.0,0.0,0.0,0.0
5,Czech Republic,49.817492,15.472962,5.80,0.0,0.0,0.0,0.0,0.0,0.0
6,Estonia,58.595272,25.013607,5.20,0.0,0.0,0.0,0.0,0.0,0.0
7,France,46.227638,2.213749,12.10,0.0,0.0,0.0,0.0,0.0,0.0
8,Germany,51.165691,10.451526,11.80,0.0,0.0,0.0,0.0,0.0,0.0
9,Greece,39.074208,21.824312,5.70,0.0,0.0,0.0,0.0,0.0,0.0
10,Hungary,47.162494,19.503304,5.50,0.0,0.0,0.0,0.0,0.0,0.0
11,Ireland,53.41291,-8.24389,10.10,0.0,0.0,0.0,0.0,0.0,0.0
12,Israel,31.046051,34.851612,6.90,0.0,0.0,0.0,0.0,0.0,0.0
13,Japan,36.204824,138.252924,8.00,0.0,0.0,0.0,0.0,0.0,0.0
14,Korea,35.907757,127.766922,8.60,0.0,0.0,0.0,0.0,0.0,0.0
15,Latvia,56.879635,24.603189,4.30,0.0,0.0,0.0,0.0,0.0,0.0
16,Lithuania,55.169438,23.881275,6.70,0.0,0.0,0.0,0.0,0.0,0.0
17,Luxembourg,49.815273,6.129583,12.50,0.0,0.0,0.0,0.0,0.0,0.0
18,Mexico,23.634501,-102.552784,1.20,0.0,0.0,0.0,0.0,0.0,0.0
19,Netherlands,52.132633,5.291266,11.00,0.0,0.0,0.0,0.0,0.0,0.0
20,New Zealand,-40.900557,174.885971,11.00,0.0,0.0,0.0,0.0,0.0,0.0
21,Poland,51.919438,19.145136,6.90,0.0,0.0,0.0,0.0,0.0,0.0
22,Portugal,39.399872,-8.224454,6.30,0.0,0.0,0.0,0.0,0.0,0.0
23,Slovakia,48.669026,19.699024,3.20,0.0,0.0,0.0,0.0,0.0,0.0
24,Slovenia,46.151241,14.995463,7.90,0.0,0.0,0.0,0.0,0.0,0.0
25,Spain,40.463667,-3.74922,8.60,0.0,0.0,0.0,0.0,0.0,0.0
26,Turkey,38.963745,35.243322,6.70,0.0,0.0,0.0,0.0,0.0,0.0
27,United Kingdom,55.378051,-3.435973,10.50,0.0,0.0,0.0,0.0,0.0,0.0
28,Costa Rica,9.748917,-83.753428,3.50,0.0,0.0,0.0,0.0,0.0,0.0
29,Brazil,-14.235004,-51.92528,2.10,0.0,0.0,0.0,0.0,0.0,0.0
30,Russian Federation,61.52401,105.318756,2.40,0.0,0.0,0.0,0.0,0.0,0.0
31,Argentina,-38.416097,-63.616672,1.48,0.0,0.0,0.0,0.0,0.0,0.0
32,China,35.86166,104.195397,2.16,0.0,0.0,0.0,0.0,0.0,0.0
33,India,20.593684,78.96288,1.00,0.0,0.0,0.0,0.0,0.0,0.0
34,Indonesia,-0.789275,113.921327,0.51,0.0,0.0,0.0,0.0,0.0,0.0
35,Italy,41.87194,12.56738,0.00,0.0,0.0,0.0,0.0,0.0,0.0
36,Saudi Arabia,23.885942,45.079162,3.62,0.0,0.0,0.0,0.0,0.0,0.0
37,South Africa,-30.559482,22.937506,1.00,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
living_index_df.head()

,Index,Country,Cost of Living,Rent Index,Cost of Living Plus Rent,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,,Bermuda,145.07,92.86,120.13,141.77,157.70,83.43
1,,Switzerland,131.75,55.05,95.10,133.36,126.08,110.96
2,,Norway,106.09,36.18,72.68,100.59,105.90,79.43
3,,Iceland,96.77,43.17,71.16,88.84,102.24,71.88
4,,Denmark,91.67,36.18,65.16,72.62,104.92,94.73

In [31]:
bigdata.head()

,County,Lat,Long,Minimum Wage,Cost of Living,Rent Index,Cost of Living Plus Rent,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,Australia,-25.274398,133.775136,12.6,0.0,0.0,0.0,0.0,0.0,0.0
1,Belgium,50.503887,4.469936,11.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Canada,56.130366,-106.346771,10.2,0.0,0.0,0.0,0.0,0.0,0.0
3,Chile,-35.675147,-71.542969,3.1,0.0,0.0,0.0,0.0,0.0,0.0
4,Colombia,4.570868,-74.297333,2.7,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
list_countries=bigdata['Country']

for i in range(len(bigdata)):
    if bigdata['Country'][i]==list_countries:
        bigdata['Cost of Living	']=living_index_df.loc[living_index_df['Cost of Living']]